In [1]:
# импортируем необходимые библиотеки 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
donor = pd.read_excel('/content/drive/My Drive/Colab Notebooks/masterskaya/donor.xlsx')
donat = pd.read_excel('/content/drive/My Drive/Colab Notebooks/masterskaya/donations.xlsx')

In [4]:
# открываем и смотрим файлы
def info_df (donar, donat):
  df_all = [donor, donat]
  for i in df_all:
    display(i.info())
    display(i.head())
    display(i.isna().sum())

display(info_df (donor, donat))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               3683 non-null   object
 1   Пол                              2431 non-null   object
 2   Город                            1015 non-null   object
 3   Дата последней email активности  1835 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 115.2+ KB

None

,ID,Пол,Город,Дата последней email активности
0,AF575B85-917F-475D-8875-00055586E05B,NaN,NaN,NaT
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,NaN,NaN,NaT
2,C6606486-05A8-4437-ACF9-00344E54FEE1,NaN,NaN,NaT
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,NaN,NaT
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,NaN,NaT

ID                                    0
Пол                                1252
Город                              2668
Дата последней email активности    1848
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14043 entries, 0 to 14042
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Donor ID            14043 non-null  object
 1   Дата платежа        14043 non-null  datetime64[ns]
 2   Сумма платежа       14043 non-null  float64
 3   Рекуррентный        14043 non-null  object
 4   Назначение платежа  12774 non-null  object
 5   Канал оплаты        14043 non-null  object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 658.4+ KB

None

,Donor ID,Дата платежа,Сумма платежа,Рекуррентный,Назначение платежа,Канал оплаты
0,DE5393F9-9585-4057-B7FB-24B69697FC08,2022-07-03 19:49:48,300.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты
1,81CD4BEF-443E-4D36-B34F-664E11182D65,2020-03-14 12:20:02,300.0,Нет ...,SMS bdd,SMS
2,D3BEB76D-D8B6-47E2-8109-44F1B278943B,2022-04-07 00:00:00,16.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет
3,F1310736-B229-4AAC-99B7-F13ACECF67CB,2019-12-26 02:25:42,300.0,Нет ...,NaN,SMS
4,61C3D86B-39DA-445C-9D7F-9924CE9BDA14,2021-06-26 01:26:07,200.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты

Donor ID                 0
Дата платежа             0
Сумма платежа            0
Рекуррентный             0
Назначение платежа    1269
Канал оплаты             0
dtype: int64

None

Видно много пропусков, неизвестных значений, которые либо удалить , либо заменить.

In [5]:
# посмотрим процент пропусков
display(donor.isnull().sum() * 100 / len(donor))
display(donat.isnull().sum() * 100 / len(donat))

ID                                  0.000000
Пол                                33.994027
Город                              72.440945
Дата последней email активности    50.176487
dtype: float64

Donor ID              0.000000
Дата платежа          0.000000
Сумма платежа         0.000000
Рекуррентный          0.000000
Назначение платежа    9.036531
Канал оплаты          0.000000
dtype: float64

In [6]:
# приведём столбцы к змеиному регистру
donor = donor.rename(columns={'ID':'id',
                              'Пол':'sex',
                              'Город':'city',
                              'Дата последней email активности':'e-mail_act'})

donor

,id,sex,city,e-mail_act
0,AF575B85-917F-475D-8875-00055586E05B,NaN,NaN,NaT
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,NaN,NaN,NaT
2,C6606486-05A8-4437-ACF9-00344E54FEE1,NaN,NaN,NaT
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,NaN,NaT
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,NaN,NaT
...,...,...,...,...
3678,C5E55606-9BFC-48C0-BE7F-FFC10A10DF20,Женский ...,NaN,NaT
3679,3CB754A9-7B08-40FB-A350-FFDB291DA9E1,NaN,NaN,NaT
3680,3F073C3B-E567-428E-B16F-FFE09A8D2CE0,Женский ...,NaN,2022-07-18 16:29:34
3681,029C3CEE-2381-4050-8E91-FFE3030218D4,Женский ...,КУШВА,NaT
3682,B7B85C92-A071-4D15-A8AD-FFF3107199DA,Женский ...,Волгоград,2020-10-08 17:42:07

In [7]:
donat = donat.rename(columns={'Donor ID':'id',
                              'Дата платежа':'pay_date',
                              'Сумма платежа':'pay_sum',
                              'Рекуррентный':'recurrent',
                              'Назначение платежа':'purpose_of_payment',
                              'Канал оплаты':'payment_channel'})

donat

,id,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel
0,DE5393F9-9585-4057-B7FB-24B69697FC08,2022-07-03 19:49:48,300.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты
1,81CD4BEF-443E-4D36-B34F-664E11182D65,2020-03-14 12:20:02,300.0,Нет ...,SMS bdd,SMS
2,D3BEB76D-D8B6-47E2-8109-44F1B278943B,2022-04-07 00:00:00,16.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет
3,F1310736-B229-4AAC-99B7-F13ACECF67CB,2019-12-26 02:25:42,300.0,Нет ...,NaN,SMS
4,61C3D86B-39DA-445C-9D7F-9924CE9BDA14,2021-06-26 01:26:07,200.0,Да ...,ПОЖЕРТВОВАНИЕ undefined,Банковские карты
...,...,...,...,...,...,...
14038,0B6DA68C-558B-4153-806E-B1D775585B88,2015-12-12 14:50:34,100.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
14039,793690C0-6332-4289-96B4-2CF8902ACEF5,2020-12-02 09:59:13,200.0,Да ...,ПОЖЕРТВОВАНИЕ,Банковские карты
14040,69613503-5B71-4690-ACB5-8E783FF915B4,2021-12-26 00:00:00,500.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет
14041,144B2E46-2A6A-48DE-92FB-729C3897A2B4,2018-11-27 16:35:01,200.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
14042,EAD75CE6-0F33-478E-A37E-712C66DB9082,2020-05-27 22:49:33,10000.0,Да ...,ПОЖЕРТВОВАНИЕ,Банковские карты

Посмотрим сколько уникальных айди, возможно подойдёт для объединения таблиц.

In [8]:
len(donor['id'].unique())

3683

In [9]:
len(donat['id'].unique())

3683

Кол-во уникальных значений одинаковое, поэтому соединять таблицы будем по этому столбцу.

In [10]:
df = donor.merge(donat, how='left', on='id')
df.head()

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel
0,AF575B85-917F-475D-8875-00055586E05B,NaN,NaN,NaT,2019-07-06 15:23:53,100.0,Нет ...,NaN,SMS
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,NaN,NaN,NaT,2017-07-18 09:01:24,500.0,Нет ...,NaN,SMS
2,C6606486-05A8-4437-ACF9-00344E54FEE1,NaN,NaN,NaT,2019-10-21 18:31:00,300.0,Нет ...,NaN,SMS
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,NaN,NaT,2021-04-13 00:00:00,500.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,NaN,NaT,2019-09-10 15:50:55,1042.0,Нет ...,ПОЖЕРТВОВАНИЕ,Банковские карты

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14043 entries, 0 to 14042
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  14043 non-null  object
 1   sex                 12473 non-null  object
 2   city                6738 non-null   object
 3   e-mail_act          11073 non-null  datetime64[ns]
 4   pay_date            14043 non-null  datetime64[ns]
 5   pay_sum             14043 non-null  float64
 6   recurrent           14043 non-null  object
 7   purpose_of_payment  12774 non-null  object
 8   payment_channel     14043 non-null  object
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 1.1+ MB

In [12]:
df.columns

Index(['id', 'sex', 'city', 'e-mail_act', 'pay_date', 'pay_sum', 'recurrent',
       'purpose_of_payment', 'payment_channel'],
      dtype='object')

In [13]:
columns = ['id', 
           'sex', 
           'city', 
           'recurrent',
           'purpose_of_payment', 
           'payment_channel',
           'e-mail_act']

for i in columns:
    df[i] = df[i].fillna('')
 
df.isna().sum()

id                       0
sex                      0
city                     0
e-mail_act            2970
pay_date                 0
pay_sum                  0
recurrent                0
purpose_of_payment       0
payment_channel          0
dtype: int64

In [14]:
df.head(10)

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel
0,AF575B85-917F-475D-8875-00055586E05B,,,NaT,2019-07-06 15:23:53,100.0,Нет ...,,SMS
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,,,NaT,2017-07-18 09:01:24,500.0,Нет ...,,SMS
2,C6606486-05A8-4437-ACF9-00344E54FEE1,,,NaT,2019-10-21 18:31:00,300.0,Нет ...,,SMS
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,,NaT,2021-04-13 00:00:00,500.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,,NaT,2019-09-10 15:50:55,1042.0,Нет ...,ПОЖЕРТВОВАНИЕ,Банковские карты
5,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-03-07 18:30:10,7000.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
6,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-07-07 18:30:00,7000.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
7,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2015-12-07 18:26:58,7000.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
8,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-04-07 18:30:07,7000.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты
9,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-01-07 18:30:07,7000.0,Да ...,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты

In [15]:
df['pay_year'] = pd.DatetimeIndex(df['pay_date']).year
df['pay_month'] = pd.DatetimeIndex(df['pay_date']).month
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14043 entries, 0 to 14042
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  14043 non-null  object
 1   sex                 14043 non-null  object
 2   city                14043 non-null  object
 3   e-mail_act          11073 non-null  datetime64[ns]
 4   pay_date            14043 non-null  datetime64[ns]
 5   pay_sum             14043 non-null  float64
 6   recurrent           14043 non-null  object
 7   purpose_of_payment  14043 non-null  object
 8   payment_channel     14043 non-null  object
 9   pay_year            14043 non-null  int64
 10  pay_month           14043 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 1.3+ MB

In [16]:
df.head()

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month
0,AF575B85-917F-475D-8875-00055586E05B,,,NaT,2019-07-06 15:23:53,100.0,Нет ...,,SMS,2019,7
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,,,NaT,2017-07-18 09:01:24,500.0,Нет ...,,SMS,2017,7
2,C6606486-05A8-4437-ACF9-00344E54FEE1,,,NaT,2019-10-21 18:31:00,300.0,Нет ...,,SMS,2019,10
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,,NaT,2021-04-13 00:00:00,500.0,Нет ...,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет,2021,4
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,,NaT,2019-09-10 15:50:55,1042.0,Нет ...,ПОЖЕРТВОВАНИЕ,Банковские карты,2019,9

In [17]:
df['pay_year'].unique()

array([2019, 2017, 2021, 2016, 2015, 2020, 2022, 2018])

In [18]:
# удалить пробелы посмле слов в реккурентности
df['recurrent'] = df['recurrent'].replace(r'\s+','',regex=True)

In [19]:
df.head()

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month
0,AF575B85-917F-475D-8875-00055586E05B,,,NaT,2019-07-06 15:23:53,100.0,Нет,,SMS,2019,7
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,,,NaT,2017-07-18 09:01:24,500.0,Нет,,SMS,2017,7
2,C6606486-05A8-4437-ACF9-00344E54FEE1,,,NaT,2019-10-21 18:31:00,300.0,Нет,,SMS,2019,10
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,,NaT,2021-04-13 00:00:00,500.0,Нет,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет,2021,4
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,,NaT,2019-09-10 15:50:55,1042.0,Нет,ПОЖЕРТВОВАНИЕ,Банковские карты,2019,9

In [20]:
df['recurrent'].unique()

array(['Нет', 'Да'], dtype=object)

In [21]:
df_rec = df.query("recurrent == 'Да'")
df_rec.head()

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month
5,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-03-07 18:30:10,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,3
6,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-07-07 18:30:00,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,7
7,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2015-12-07 18:26:58,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2015,12
8,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-04-07 18:30:07,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,4
9,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-01-07 18:30:07,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,1

In [22]:
df_rec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8085 entries, 5 to 14029
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8085 non-null   object
 1   sex                 8085 non-null   object
 2   city                8085 non-null   object
 3   e-mail_act          7848 non-null   datetime64[ns]
 4   pay_date            8085 non-null   datetime64[ns]
 5   pay_sum             8085 non-null   float64
 6   recurrent           8085 non-null   object
 7   purpose_of_payment  8085 non-null   object
 8   payment_channel     8085 non-null   object
 9   pay_year            8085 non-null   int64
 10  pay_month           8085 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 758.0+ KB

In [28]:
df.head()

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month
0,AF575B85-917F-475D-8875-00055586E05B,,,NaT,2019-07-06 15:23:53,100.0,Нет,,SMS,2019,7
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,,,NaT,2017-07-18 09:01:24,500.0,Нет,,SMS,2017,7
2,C6606486-05A8-4437-ACF9-00344E54FEE1,,,NaT,2019-10-21 18:31:00,300.0,Нет,,SMS,2019,10
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,,NaT,2021-04-13 00:00:00,500.0,Нет,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет,2021,4
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,,NaT,2019-09-10 15:50:55,1042.0,Нет,ПОЖЕРТВОВАНИЕ,Банковские карты,2019,9

In [29]:
df_fk = df.drop(columns=['sex', 'city',	'e-mail_act',	'purpose_of_payment',	'payment_channel',	'pay_month'], axis=1)

In [30]:
df_fk.head()

,id,pay_date,pay_sum,recurrent,pay_year
0,AF575B85-917F-475D-8875-00055586E05B,2019-07-06 15:23:53,100.0,Нет,2019
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,2017-07-18 09:01:24,500.0,Нет,2017
2,C6606486-05A8-4437-ACF9-00344E54FEE1,2019-10-21 18:31:00,300.0,Нет,2019
3,6ED86154-A688-4A11-868F-006209035413,2021-04-13 00:00:00,500.0,Нет,2021
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,2019-09-10 15:50:55,1042.0,Нет,2019

In [31]:
df_fk_d = df_fk.pivot_table(index='id', values='pay_date', aggfunc=['max', 'min']).reset_index()

In [32]:
df_fk_d.columns=['id', 'max_date', 'min_date']

In [33]:
df_fk_d.head()

,id,max_date,min_date
0,0001AFDD-94E3-48F3-B5E7-D5539700425E,2019-04-26 19:19:24,2019-04-26 19:19:24
1,000711B2-2785-461B-BF5B-5CB7D2CABA20,2022-06-27 08:24:05,2020-03-27 08:23:58
2,0015A100-2D8C-4262-A9B3-BB1461C0C8B8,2021-07-27 12:17:06,2021-07-27 12:15:05
3,002CB994-10CD-45E9-B6ED-ED7F3C90D7A9,2017-04-27 08:26:17,2017-04-27 08:26:17
4,006F71D7-DFCF-4E7A-B9AD-B4721BEF4F7A,2019-04-27 00:02:19,2019-04-27 00:02:19

In [34]:
df_fk_d['duration'] = df_fk_d['max_date'] - df_fk_d['min_date']
df_fk_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3683 non-null   object
 1   max_date  3683 non-null   datetime64[ns]
 2   min_date  3683 non-null   datetime64[ns]
 3   duration  3683 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), object(1), timedelta64[ns](1)
memory usage: 115.2+ KB

In [35]:
df_fk_d['duration'] = (df_fk_d['duration']).dt.days

In [36]:
df_fk_d.head()

,id,max_date,min_date,duration
0,0001AFDD-94E3-48F3-B5E7-D5539700425E,2019-04-26 19:19:24,2019-04-26 19:19:24,0
1,000711B2-2785-461B-BF5B-5CB7D2CABA20,2022-06-27 08:24:05,2020-03-27 08:23:58,822
2,0015A100-2D8C-4262-A9B3-BB1461C0C8B8,2021-07-27 12:17:06,2021-07-27 12:15:05,0
3,002CB994-10CD-45E9-B6ED-ED7F3C90D7A9,2017-04-27 08:26:17,2017-04-27 08:26:17,0
4,006F71D7-DFCF-4E7A-B9AD-B4721BEF4F7A,2019-04-27 00:02:19,2019-04-27 00:02:19,0

In [37]:
df_fk_d['duration'].unique()

array([   0,  822,  946,  214,  270,  612,  523,  568, 1111,   61,   64,
          9,   21, 1025,  446, 1292,    1,  318,  960, 1041,   31, 1342,
        297,  216,  153,  490,  639,  986,   92, 1238,  711,  298,  184,
        942,  260,  533,   29,  306,  585,  579,   37,  352, 2394,   99,
        252,  549,  280,  881,  202,  660,  883,   87,  443,  241, 1158,
        212, 1207,  959,  535,   23,  365,  730,  150,  343, 1152,  694,
       1107,  577,  366, 1085,  279,  117,  335,   22,    6,  456,   62,
         43, 2009,   65,  122, 1098,   55,  201,  912,  363, 1178, 1441,
        334,  274,   69,  527,    8,  399, 2235,  847,   78,  587,  947,
        303, 1010,  731,   27,  551, 1613,  539,  415,  255,  309,    2,
        616,  548,  702,  668,  245,  185,  610,   33,   19,  573,  843,
        121, 1927,   66,  242,  517,  133,  427,  364,  396,   30,  120,
        371,  738, 1969,  821,  699,  284,  199,  425,   83,  852,  906,
        758,  340, 1182,  861,  788,  421,   11, 1796,  458,  426,  708,
        488,  310,   85,  888,  532,   91,  337, 1871,  172,  207,  798,
        582,  735,  442, 1885,  346,  481,  480,  778,  496,   89,  273,
         90,  799,  261,  560,  430, 1173,    3,  884,  477,  151,  791,
        489, 2472,   52, 1491,  283,   25,  670,   35, 1159, 1765,  515,
        160, 1058, 2462,  795,  250,  676,  746,  254,  465, 2028,  395,
        841,  203,  819,  218,  183,    5, 1308,  762,  367, 1166,  814,
       2426,   45,  948,  412, 1091,  253, 2041,  305,   67, 1287,  500,
        545,  264, 1456,   63,  889,  973, 2322,  497,  524,  331,  156,
        132,  210,   79,  518, 1215,  347, 1511,  315,   18, 1088, 2397,
       1218,  316,   32,  276,   10,  180,  640,  140, 1047,   88,  275,
       1685,  839,  811,   49,  462,  137,  105,  624,  763,   93,  431,
        592,   86, 1170,  243,  136, 1084,   42, 1305,  400, 1589,  304,
        516,   13,  793, 1127, 1544, 1227,  217,  578,  571,  127,  701,
        268,  200, 1560, 1049,  277,  187,  116,  311,   36,  726,  538,
       1430,  816,  455,  823,   51,  564,  914, 1887,   75,  565,  669,
        931,  403,  760, 2176,  487, 1764,  810, 1007,  174,   59,  620,
       1449,   14,  107,  166,  391, 1273, 2418,   68,  499,  213, 1611,
        246,  700,  611, 1318,  682, 2331, 1167,  621,  186,  139,   17,
       1096,  939,  693,  575,  870,  608,  359,  754,   39, 2191, 1187,
        471,  197,  845,  473, 2104, 1274,  226,  182,  314, 1157,  154,
        787, 1868,  453,  146,  792,  418,  974,  609, 1365,  502,  102,
        227,  605, 1596,   76,   60,  392,  326,  162,  244,  520, 1403,
        834,   46,  703,  126, 2486, 1549,   54, 1035,   71,  512,  225,
         20,  118,   48,  874,  728, 1156,  650,  444, 1000, 1188,  282,
        815,   47,  113,  671,  424, 2084, 1065,  665, 1113,  615,  149,
       1866,  398,  300,  770,  328, 1968,  635, 1795, 1633,   44,  220,
        384,  161, 1090, 1155,   16,  547,   58,  408,  192,  655,  138,
       1497,  135,  390,  232,  526, 1704,  740,  851,  528, 1390,  342,
        110, 1097,  829,  614, 1785, 1647,  417, 1249,   80,  100, 1076,
         38,  882,  716, 1008,  940, 1338, 1032,   82,   28,  550,  176,
        163,  239,   41,  167,  383, 1259,   84,  397,  759,  177,  913,
        402, 1072, 1488, 1813, 1037,  508,  977,  742,  484, 1062,  894,
       1161,  158,   50,  767,  360,  634,  332, 1467,  704,  686,  653,
        633,  142,  152,  956,  603,  581,   26,  349,   96,  476,  828])

In [38]:
df_fk_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3683 non-null   object
 1   max_date  3683 non-null   datetime64[ns]
 2   min_date  3683 non-null   datetime64[ns]
 3   duration  3683 non-null   int64
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 115.2+ KB

In [39]:
df_fk_d['duration'].describe()

count    3683.000000
mean      130.024165
std       325.924253
min         0.000000
25%         0.000000
50%         0.000000
75%        21.000000
max      2486.000000
Name: duration, dtype: float64

In [40]:
df_fk_p = df_fk.pivot_table(index='id', values='pay_sum', aggfunc=['sum', 'count']).reset_index()

In [41]:
df_fk_p.columns=['id', 'sum_pay', 'count_pay']

In [42]:
df_fk_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         3683 non-null   object
 1   sum_pay    3683 non-null   float64
 2   count_pay  3683 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 86.4+ KB

In [43]:
df_fk_p.head()

                                     id  sum_pay  count_pay
0  0001AFDD-94E3-48F3-B5E7-D5539700425E    100.0          1
1  000711B2-2785-461B-BF5B-5CB7D2CABA20  10500.0         21
2  0015A100-2D8C-4262-A9B3-BB1461C0C8B8    400.0          2
3  002CB994-10CD-45E9-B6ED-ED7F3C90D7A9   1000.0          1
4  006F71D7-DFCF-4E7A-B9AD-B4721BEF4F7A    200.0          1

In [44]:
df_fk_all = df_fk_d.merge(df_fk_p, on=['id'], how='outer')

In [62]:
df_fk_all.head()

,id,max_date,min_date,duration,sum_pay,count_pay
0,0001AFDD-94E3-48F3-B5E7-D5539700425E,2019-04-26 19:19:24,2019-04-26 19:19:24,0,100.0,1
1,000711B2-2785-461B-BF5B-5CB7D2CABA20,2022-06-27 08:24:05,2020-03-27 08:23:58,822,10500.0,21
2,0015A100-2D8C-4262-A9B3-BB1461C0C8B8,2021-07-27 12:17:06,2021-07-27 12:15:05,0,400.0,2
3,002CB994-10CD-45E9-B6ED-ED7F3C90D7A9,2017-04-27 08:26:17,2017-04-27 08:26:17,0,1000.0,1
4,006F71D7-DFCF-4E7A-B9AD-B4721BEF4F7A,2019-04-27 00:02:19,2019-04-27 00:02:19,0,200.0,1

In [45]:
df_fk_alll = df_fk_all.drop(columns=['min_date', 'max_date', 'id'])

In [46]:
df_fk_alll.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3683 entries, 0 to 3682
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   duration   3683 non-null   int64
 1   sum_pay    3683 non-null   float64
 2   count_pay  3683 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 115.1 KB

In [47]:
df_fk_alll.describe()

          duration       sum_pay    count_pay
count  3683.000000  3.683000e+03  3683.000000
mean    130.024165  6.561455e+03     3.812924
std     325.924253  6.720103e+04     7.849309
min       0.000000  1.000000e-02     1.000000
25%       0.000000  1.500000e+02     1.000000
50%       0.000000  5.000000e+02     1.000000
75%      21.000000  1.500000e+03     2.000000
max    2486.000000  3.000000e+06    83.000000

In [48]:
df.head()

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month
0,AF575B85-917F-475D-8875-00055586E05B,,,NaT,2019-07-06 15:23:53,100.0,Нет,,SMS,2019,7
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,,,NaT,2017-07-18 09:01:24,500.0,Нет,,SMS,2017,7
2,C6606486-05A8-4437-ACF9-00344E54FEE1,,,NaT,2019-10-21 18:31:00,300.0,Нет,,SMS,2019,10
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,,NaT,2021-04-13 00:00:00,500.0,Нет,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет,2021,4
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,,NaT,2019-09-10 15:50:55,1042.0,Нет,ПОЖЕРТВОВАНИЕ,Банковские карты,2019,9

In [49]:
df['life_time'] = df.groupby('id')['pay_date'].apply(lambda x: x.diff().fillna(pd.Timedelta(days=0)).cumsum())

In [50]:
#idx = df.reset_index().groupby(['id'])["index"].last().to_numpy()

In [51]:
#df['life_time'] = df.groupby(['id'])['pay_date'].diff()

In [52]:
#df.loc[idx, "life_time"] = df.loc[idx, "life_time"].combine_first(df.loc[idx, "pay_date"])

In [53]:
df.head(10)

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month,life_time
0,AF575B85-917F-475D-8875-00055586E05B,,,NaT,2019-07-06 15:23:53,100.0,Нет,,SMS,2019,7,0 days 00:00:00
1,229A9B43-3A15-4A48-8CB6-000EDB240D50,,,NaT,2017-07-18 09:01:24,500.0,Нет,,SMS,2017,7,0 days 00:00:00
2,C6606486-05A8-4437-ACF9-00344E54FEE1,,,NaT,2019-10-21 18:31:00,300.0,Нет,,SMS,2019,10,0 days 00:00:00
3,6ED86154-A688-4A11-868F-006209035413,Женский ...,,NaT,2021-04-13 00:00:00,500.0,Нет,Добровольное пожертвование. НДС не облагается,Прямые поступления на счет,2021,4,0 days 00:00:00
4,46C41E20-EA56-4698-9C37-00692FD6FFE8,Женский ...,,NaT,2019-09-10 15:50:55,1042.0,Нет,ПОЖЕРТВОВАНИЕ,Банковские карты,2019,9,0 days 00:00:00
5,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-03-07 18:30:10,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,3,0 days 00:00:00
6,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-07-07 18:30:00,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,7,121 days 23:59:50
7,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2015-12-07 18:26:58,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2015,12,-92 days +23:56:48
8,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-04-07 18:30:07,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,4,30 days 23:59:57
9,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-01-07 18:30:07,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,1,-61 days +23:59:57

In [54]:
df_12 = df.query("id == '8CBFF8AB-3153-473A-BE84-0079B873EA33'")
df_12

,id,sex,city,e-mail_act,pay_date,pay_sum,recurrent,purpose_of_payment,payment_channel,pay_year,pay_month,life_time
5,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-03-07 18:30:10,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,3,0 days 00:00:00
6,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-07-07 18:30:00,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,7,121 days 23:59:50
7,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2015-12-07 18:26:58,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2015,12,-92 days +23:56:48
8,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-04-07 18:30:07,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,4,30 days 23:59:57
9,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-01-07 18:30:07,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,1,-61 days +23:59:57
10,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-06-07 18:30:04,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,6,91 days 23:59:54
11,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-05-07 18:30:04,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,5,60 days 23:59:54
12,8CBFF8AB-3153-473A-BE84-0079B873EA33,Мужской ...,,2022-07-18 17:36:39,2016-02-07 18:30:04,7000.0,Да,Пожертвование в фонд помощи детям-отказникам и...,Банковские карты,2016,2,-30 days +23:59:54

In [55]:
'''import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)'''

'import warnings\nwarnings.filterwarnings("ignore", category=RuntimeWarning)'

In [56]:
'''import pandas as pd
from sklearn.cluster import KMeans'''

'import pandas as pd\nfrom sklearn.cluster import KMeans'

In [57]:
'''# Обучение модели
model = KMeans(n_clusters=3, random_state=12345).fit(df_fk_all)

print("Центроиды кластеров:")
print(model.cluster_centers_)
print('Значение целевой функции', model.inertia_)'''

'# Обучение модели\nmodel = KMeans(n_clusters=3, random_state=12345).fit(df_fk_all)\n\nprint("Центроиды кластеров:")\nprint(model.cluster_centers_)\nprint(\'Значение целевой функции\', model.inertia_)'

In [58]:
'''K = range(1, 8)
for k in K:
    model = KMeans(n_clusters=k, random_state=12345)
    model.fit(df_fk_all)
        
    print('Число кластеров:', k) 
    print('Значение целевой функции', model.inertia_)'''

"K = range(1, 8)\nfor k in K:\n    model = KMeans(n_clusters=k, random_state=12345)\n    model.fit(df_fk_all)\n        \n    print('Число кластеров:', k) \n    print('Значение целевой функции', model.inertia_)"

In [63]:
'''distortion = []
K = range(1, 4)
for k in K:
    model = KMeans(n_clusters=k, random_state=12345)
    model.fit(df_fk_all)
    distortion.append(model.inertia_)

centroids = pd.DataFrame(model.cluster_centers_, columns=df_fk_all.columns)
df_fk_all['label'] = model.labels_.astype(str)
centroids['label'] = ['0 centroid', '1 centroid', '2 centroid']
data_all = pd.concat([df_fk_all, centroids], ignore_index=True)

# Построение графика
sns.pairplot(data_all, hue='label', diag_kind='hist')'''

"distortion = []\nK = range(1, 4)\nfor k in K:\n    model = KMeans(n_clusters=k, random_state=12345)\n    model.fit(df_fk_all)\n    distortion.append(model.inertia_)\n\ncentroids = pd.DataFrame(model.cluster_centers_, columns=df_fk_all.columns)\ndf_fk_all['label'] = model.labels_.astype(str)\ncentroids['label'] = ['0 centroid', '1 centroid', '2 centroid']\ndata_all = pd.concat([df_fk_all, centroids], ignore_index=True)\n\n# Построение графика\nsns.pairplot(data_all, hue='label', diag_kind='hist')"